# 
__pycache__/
*.py[cod]
*.pyo

#
build/
dist/
wheelhouse/
*.egg-info/
.eggs/

# 
.venv/
venv/
env/

# 
*.pyd
*.dll
*.so
*.dylib
*.lib
*.exp
*.obj
*.pdb

# 
*.html
asm2dbsm2/*.c

# 
notes.txt
fnc_bsm2_ghg/
fnc_asm2dbsm2/
c_core/
asm2dbsm2/

# 
c_sim/
check_final/

# 
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# 
.pytest_cache/
.coverage
htmlcov/

# 
docs/build/
docs/_build/

# 
!README.md
!LICENSE
!THIRD_PARTY_NOTICES.md
!pyproject.toml
!setup.py
!MANIFEST.in
!docs/
!docs/**
!.github/
!.github/**
